*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E30;
}

#logo{
    width: 8%;
    margin-left: 3%;
    margin-top: 1%;
}

ul{
    margin-top: 4%;
    margin-right: 25%;
    display: inline-block;
    vertical-align: middle;
    float:right;
    list-style: none;
}

ul li{
    display: inline-block;
    margin-left: 7vb;
    margin-right: 7vb;  
}

ul li a{
    color: #FFF8ED;
    font-size: 20px;
}

.hidden{
    display: none; 
    position: absolute; 
    background-color: white;
    border: 1px solid #411B00;
    z-index: 1000; 
}

li{
    position: relative;
}

li:hover #rubrique-cachee{
    display: block; 
}

#rubrique-cachee ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

#rubrique-cachee li{
    padding: 8px 12px; 
}

#rubrique-cachee li a{
    text-decoration: none; 
    color: #411B00; 
}

#rubrique-cachee li a:hover{
    background-color: #FFF8ED; 
}

.hidden{
    display: none;
}

li:hover #rubrique-cachee{
    display: block; 
    visibility: visible;
}

#box2{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 1%;
}

h1{
    color: #FFF8ED;
    margin-left: 40px;
}

#be{
    color: #FABE8A;
}

#quote{
    margin-left: 45%;
    float: right;
    color: #FFF8ED;
    font-size: 17px;
}

body{
    background-color: #FFF8ED;
    color: #411B00;
    line-height: 1.6;
}

.breadcrumb{
    list-style: none; 
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 0;
    background-color: #1f2c22;
    color: #FABE8A; 
}

.breadcrumb li{
    margin: 0 5px; 
}

.breadcrumb a{
    text-decoration: none; 
    color: #FABE8A; 
    font-weight: bold;
}

.breadcrumb a:hover{
    text-decoration: underline;
}
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    10. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

input {
    appearance: none;
    /* Ẩn kiểu mặc định trên trình duyệt */
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    font: inherit;
    /* Kế thừa font từ phần tử cha */
    color: inherit;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

img {
    display: block;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-size: 13px;
}


button {
    all: unset
}

.w-50 {
    width: 50%;
}

.w-25 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

.m-w-50 {
    max-width: 50%;
}

.m-w-25 {
    max-width: 25%;
}

.m-w-100 {
    max-width: 100%;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.bg-white {
    background-color: #fff;
}

.bg-dark {
    background-color: #000;
}

.text-white {
    color: #fff;
}

.flex {
    display: flex;
}

.w-80 {
    width: 80%;
}

.center {
    position: relative;
    width: 100%;
    max-width: 1252px;
    padding: 0 15px;
    margin: 0 auto;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-1 {
    flex: 1 1 auto;
}

.slideshow {
    background-color: #fef9ed;
    padding-bottom: 40px;
}

.slideshow-top {
    padding-bottom: 110px;
}

.slideshow .slideshow-left {
    align-items: center;
    justify-content: center;

    span.title-font {
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 20px;
    }

    h1 {
        text-transform: capitalize;

        span {
            color: #1b632b;
        }

        font-size: 64px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    p {
        font-size: 16px;
        color: #686868;
    }


}

.title-font {
    font-family: "Josefin Sans", sans-serif;
}

.slideshow-right {
    align-items: center;
    justify-content: center;

    .img {
        z-index: 2;
    }

    .pulse-slide {
        width: 620px;
        height: 620px;
        border-radius: 50%;
        background-color: rgba(164, 164, 164, 0.14);
        /*! left: 50%; */
        top: 5%;
        /*! transform: translate(-50%, -50%); */
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        .pulse-inside {
            border-radius: 50%;
            background-color: #fff;
            width: 88%;
            height: 88%;

        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.7;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulse {
    animation: pulse 2s infinite ease-in-out;
}

.slideshow-bottom {
    padding-bottom: 40px;
}

.slideshow-bottom .items {
    margin: 50px -10px 0;
    align-items: stretch;
}

.slideshow-bottom .items .item {
    flex: 1 1 auto;
    width: 100%;
    max-width: 25%;
    padding: 0 10px;


    &:hover {
        .body {
            cursor: pointer;
            background-color: #1b632b;
        }

        h1,
        p,
        span {
            color: #fff !important;
        }

        .img img {
            max-width: 200px;
            max-height: 240px;
            top: 0;
        }
    }

    .body {
        transition: all .3s ease-in-out;
        height: 100%;
        box-shadow: 1px 2px 10px #7574744a;
        padding: 10px 10px 7px;
        border-radius: 12px;
        background-color: #fff;
        justify-content: space-between;
    }

    .ct {
        align-items: center;
        justify-content: center;
        width: 59%;

        h1 {
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        p {
            color: #686868;
            font-size: 12px;
            margin-bottom: 7px;
        }

        span {
            font-weight: 500;

        }
    }

    .img {
        display: flex;
        justify-content: center;
        width: 40%;
        height: 100%;
        max-width: 100px;
        max-height: 120px;
        position: relative;

        img {
            transition: all .3s ease-in-out;
            display: block;
            top: 50%;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 100px;
            max-height: 120px;
        }

    }
}

.h-100 {
    height: 100%;
}

.flex-center {

    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    background-image: url("../images/contact.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.contact .center {
    padding-left: 0;
}

.contact::before {
    height: 100%;
    width: calc((100% - 1252px) / 2);
    content: '';
    bottom: 0;
    left: 0;
    background-color: #fef9ed;
    position: absolute;
}

.contact-form {
    width: 50%;
    background-color: #fef9ed;
    padding: 100px 20px;

    h1 {
        font-size: 48px;
        font-weight: 700;
        text-transform: capitalize;
        margin-bottom: 30px;
        width: 70%;
        background: url('../images/contact.jpg') no-repeat center;
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent;
    }

    p {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 40px;
        width: 70%;
        opacity: .7;
    }

    label {
        width: 90%;
        height: 60px;
        padding-left: 20px;
        background-color: #e4e1e1;
        border: 1px solid #686868;

        input::placeholder {
            color: #000;
        }


        button:hover {
            background-color: #1b632b;

        }

        button {
            color: #fff;
            cursor: pointer;
            transition: all .3s ease-in;
            background-color: #000;
            padding: 0 20px;
            height: 100%;
            display: block;
            position: relative;
        }
    }
}

@media (max-width: 991px) {

    .slideshow-top {
        padding: 20px 0;
    }

    .slideshow-right {
        display: none;
    }

    .slideshow-left {
        width: 100%;
    }

    .slideshow-bottom .items {
        margin-top: 20px;
    }

    .slideshow-bottom .items .item {
        max-width: 50%;
        margin-top: 10px;

    }


    .contact-form {
        padding: 20px;
    }

    .contact-form h1 {
        margin-bottom: 0;
        font-size: 22px;
    }


    .contact-form p {
        font-size: 12px;
    }

    .sec-2-ct .body {
        .item {
            width: 100% !important;
        }
    }

    .img-section .img-ct {
        & .img-1 {
            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .img-1,
    .img-3,
    .img-2 {
        width: 100% !important;
        margin-top: 20px;
    }

    .img-3 .img-3-ct {
        padding: 20px !important;
    }

    .img-section .img-ct {
        height: unset !important;
    }

    .header-st-2 {
        & .header-2-abs {
            h1 {
                font-size: 24px !important;
            }
        }
    }

    .sec-ct>.ct {
        p {

            font-size: 24px !important;

        }
    }
}

footer{
    background: #2C3E30;
    color: #FFF8ED;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#foot p{
    font-size: 20px;
}

.logo{
    height: 100px;
}

.social-icons{
    margin: 10px 0;
    height: 50%;
}

.social-icons img{
    width: 5%;
    height: auto;
    margin: 0 5px;
}

.copyright{
    font-size: 12px;
    margin-top: 10px;
    color: #555;
}
