*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E30;
}

#logo{
    width: 8%;
    margin-left: 3%;
    margin-top: 1%;
}

ul{
    margin-top: 4%;
    margin-right: 25%;
    display: inline-block;
    vertical-align: middle;
    float:right;
    list-style: none;
}

ul li{
    display: inline-block;
    margin-left: 7vw;
    margin-right: 7vw;  
}

ul li a{
    color: #FFF8ED;
    font-size: 20px;
}

.hidden{
    display: none; 
    position: absolute; 
    background-color: white;
    border: 1px solid #411B00;
    z-index: 1000; 
}

li{
    position: relative;
}

li:hover {
    display: block; 
}

#rubrique-cachee ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

#rubrique-cachee li{
    padding: 8px 12px; 
}

#rubrique-cachee li a{
    text-decoration: none; 
    color: #411B00; 
}

#rubrique-cachee li a:hover{
    background-color: #FFF8ED; 
}

.hidden{
    display: none;
}

li:hover #rubrique-cachee{
    display: block; 
    visibility: visible;
}

#box2{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 1%;
}

.title-font{
    color: #FFF8ED;
    margin-left: 40px;
}

#be{
    color: #FABE8A;
}

#quote{
    margin-left: 45%;
    float: right;
    color: #FFF8ED;
    font-size: 17px;
}

body{
    background-color: #FFF8ED;
    color: #411B00;
    line-height: 1.6;
}

.breadcrumb{
    list-style: none; 
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px 0;
    background-color: #1f2c22;
    color: #FABE8A; 


}

.breadcrumb li{
    margin: 0 5px; 
}

.breadcrumb a{
    text-decoration: none; 
    color: #FABE8A; 
    font-weight: bold;
}

.breadcrumb a:hover{
    text-decoration: underline;
}


.sec-header {
    width: 100%;
    max-height: 600px;

    img {
        filter: brightness(50%);
        /* Reduces brightness, making it darker */

    }

    .header-bg {
        width: 100%;
        max-height: 600px;
        object-fit: cover;
        height: 100%;
    }

    .ct {
        bottom: 30px;
        z-index: 2;

        h1 {
            color: #fff;
            font-size: 34px;
            font-weight: 600;
            max-width: 60%;
        }
    }
}

.sec-ct {
    background-color: #fef9ed;
    padding: 30px 0;
}

.sec-ct>.ct {
    justify-content: space-between;

    h1 {
        font-size: 15px;
        font-weight: 400;
        width: 34%;
    }

    p {
        font-weight: 600;
        font-size: 32px;
        width: 34%;
    }
}

.img-section {
    background-color: #fef9ed;
    padding: 30px 0;
}

.img-section .img-ct {
    height: 425px;
    align-items: stretch;
    justify-content: space-between;

    .img-abs-ct {
        bottom: 15px;
        left: 20px;
        z-index: 3;

        h3 {
            font-weight: 600;
            color: #fff;
            font-size: 16px;
        }
    }

    .img-1 {
        width: 34%;
        border-radius: 20px;
        overflow: hidden;
        cursor: pointer;

        &:hover img {
            transform: scale(1.2);
        }

        img {
            transition: all .3s ease;
            border-radius: 20px;
        }
    }

    .img-2 {
        width: 30%;

        div:first-child {
            margin-bottom: 20px;
        }

        .img-2-ct {
            cursor: pointer;
        }

        .img-2-ct:hover img {
            transform: scale(1.2);
        }

        img {
            filter: brightness(80%);
            object-fit: cover;
            transition: all .3s ease;
            width: 100%;
            border-radius: 20px;
            height: calc((425px - 20px) / 2);
            object-fit: cover;
        }
    }

    .img-3 {
        width: 34%;

        &:hover img {
            transform: scale(1.2);
        }

        img {
            cursor: pointer;
            transition: all .3s ease;
            width: 100%;
            border-radius: 20px;
        }
    }
}

.overflow-hidden {
    overflow: hidden;
}

.rounded-xl {
    border-radius: 20px;
}

.img-bottom {
    cursor: pointer;

    .img-abs-ct {
        bottom: 15px;
        left: 20px;
        z-index: 3;

        h3 {
            font-weight: 600;
            color: #fff;
            font-size: 16px;
        }
    }

    border-radius: 20px;

    margin-top: 20px;

    &:hover img {
        transform: scale(1.2);
    }

    img {
        object-fit: cover;
        cursor: pointer;
        transition: all .3s ease;
        width: 100%;


    }
}



.img-3 .img-3-ct {
    border-radius: 20px;
    background-color: #eaf3e8;
    height: calc((100% - 40px) / 3);
    padding-left: 40px;
    padding-right: 20px;
    display: flex;
    align-items: center;

    p {
        max-width: 70%;
        font-size: 20px;
        font-weight: bold;
    }
}

.img-1:hover .hidden-ct {
    opacity: 1;
}

.img-1:hover .img-abs-ct {
    opacity: 0;
}


.img-bottom:hover .hidden-ct {
    opacity: 1;
}

.img-bottom:hover .img-abs-ct {
    opacity: 0;
}

.hidden-ct {
    opacity: 0;
    transition: opacity .3s ease-in;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #00000080;
    border-radius: 12px;
    z-index: 3;

    p,
    h3 {
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 20px;

    }
}

.header-st-2 {
    width: 100%;
    max-height: 400px;

    img {
        object-fit: cover;
    }

    .header-2-abs {
        background-color: #00000080;
        width: 70%;
        bottom: 0;
        height: 100%;
        left: 0;

        h1 {
            color: #fff;
            width: 60%;
            font-weight: 600;
            font-size: 32px;
        }
    }
}

.sec-2-ct {
    padding: 40px 0;
    background-color: #1b632b;
}

.sec-2-ct .body {
    justify-content: space-between;

    .item {
        width: 48%;
    }

    svg {
        
        fill: #39a150;
    }

    .sec-2-desc {
        margin-left: 10px;
    }


    h3 {
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: 500;
    }

    p {
        font-size: 12px;
        opacity: .8;
    }

    h3,
    p {
        color: #fff;
    }


    justify-content: space-between;
    row-gap: 20px;
}

footer{
    background: #2C3E30;
    color: #FFF8ED;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#foot p{
    font-size: 20px;
}

.logo{
    height: 100px;
}

.social-icons{
    margin: 10px 0;
    height: 50%;
}

.social-icons img{
    width: 5%;
    height: auto;
    margin: 0 5px;
}

.copyright{
    font-size: 12px;
    margin-top: 10px;
    color: #555;
}

