*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2C3E30;
}

#logo{
    width: 8%;
    margin-left: 3%;
    margin-top: 1%;
}

ul{
    margin-top: 4%;
    margin-right: 25%;
    display: inline-block;
    vertical-align: middle;
    float:right;
    list-style: none;
}

ul li{
    display: inline-block;
    margin-left: 7vb;
    margin-right: 7vb;  
}

ul li a{
    color: #FFF8ED;
    font-size: 20px;
}

.hidden{
    display: none; 
    position: absolute; 
    background-color: white;
    border: 1px solid #411B00;
    z-index: 1000; 
}

li{
    position: relative;
}

li:hover #rubrique-cachee{
    display: block; 
}

#rubrique-cachee ul{
    list-style-type: none; 
    padding: 0; 
    margin: 0;
}

#rubrique-cachee li{
    padding: 8px 12px; 
}

#rubrique-cachee li a{
    text-decoration: none; 
    color: #411B00; 
}

#rubrique-cachee li a:hover{
    background-color: #FFF8ED; 
}

.hidden{
    display: none;
}

li:hover #rubrique-cachee{
    display: block; 
    visibility: visible;
}

#box2{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2%;
    padding-bottom: 1%;
}

h1{
    color: #FFF8ED;
    margin-left: 40px;
}

#be{
    color: #FABE8A;
}

#quote{
    margin-left: 45%;
    float: right;
    color: #FFF8ED;
    font-size: 17px;
}

body{
    background-color: #FFF8ED;
    color: #411B00;
    line-height: 1.6;
}

#bannière{
    padding-top: 30%;
    background-image: url(../images/banner.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin: 0 auto;
}

.insert{
    border: #411B00 1px solid;
    background-color: #fabe8a17;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.img-cont{
    align-items: center;
    height: 200px;
    display: block;
    margin: 0 auto;

}

.pré, .des, .sym, .pp, .déco{
    padding: 10px; 
}

.pré{
    font-weight: bold;
    color: #FFF8ED;
}

.des{
    color: #FFF8ED;
    font-size: smaller;
}

.déco{
    max-width: 100%; 
    height: auto;
    object-fit: cover; 
    
}

.sym{
    height: 40%;
    display: block;
    margin: 0 auto;

}

.pp{
    color: #FABE8A;
    font-weight: bold;
}

h2{
    text-align: center;
    font-size: 150%;
    color: #2C3E30;
}

#part1, #part2{
    display: flex;
    align-items: center;
    padding: 2%;
    max-width: 1100px;
    margin-left: 5%;
}

.text{
    width: 50%;
    line-height: 1.6;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

#f1, #f2{
    width: 60%;
    border-radius: 8px;
}

#b1{
    width: 90%;
    display: block;
    margin: 20px 0;
    margin-left: 5%;
    margin-right: 5%;
}

.long{
    margin-top: 5%;
}

#court{
    margin-top: 2%;
}

#serv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1100px;
    margin: auto;
}

#serv > div{
    width: 200px;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid;
    border-color: #2C3E30;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#serv div:hover {
    transform: scale(1.1); 
    background-color: #fabd8a;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); 
}

.tt{
    color: #2C3E30;
    font-weight: bold;
    font-style: italic;
}

.tx{
    font-size: smaller;
}

.picto{
    width: 50px;
    height: 50px;
}

#b2{
    width: 90%;
    display: block;
    margin: 20px 0;
    margin-left: 5%;
    margin-right: 5%;
}

#satisfaction{
    display: flex;
    justify-content: space-around;
    background-color: #2C3E30;
    color: white;
    padding: 30px;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
}

.cs{
    font-size: 1.5em;
    font-weight: bold;
}

fieldset{
    background: white;
    width: 60%;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#devis{
    text-align: center;
}

input{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#comm{
    background-color:#2C3E30 ;
    border: 1px solid #411b00ad;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

footer{
    background: #2C3E30;
    color: #FFF8ED;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

#foot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
}

#foot p{
    font-size: 20px;
}

.logo{
    height: 100px;
}

.social-icons{
    margin: 10px 0;
    height: 50%;
}

.social-icons img{
    width: 5%;
    height: auto;
    margin: 0 5px;
}

.copyright{
    font-size: 12px;
    margin-top: 10px;
    color: #555;
}
